.playlist {
    -fx-background-color: #1B1A1A;
}

.title {
    -fx-font-family: "Lexend";
    -fx-font-size: 54px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: normal;
    -fx-fill: #FFFFFF;
}

.desc {
    -fx-font-family: "Lexend";
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-line-height: normal;
    -fx-fill: #FFFFFF;
}

.song-title {
    -fx-font-family: "Lexend";
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-line-height: normal;
    -fx-fill: #FFFFFF;
}

.song-artist {
    -fx-font-family: "Lexend";
    -fx-font-size: 10px;
    -fx-font-style: normal;
    -fx-font-weight: 300;
    -fx-line-height: normal;
    -fx-fill: #FFFFFF;
}

.song-num {
    -fx-font-family: "Lexend";
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-line-height: normal;
    -fx-fill: #FFFFFF;
}

.delete-option {
    -fx-width: 170;
    -fx-background-color: #474747;
}

.context-menu {
    -fx-background-color:#474747;
    -fx-fill: #FF2222;
    -fx-padding: 10 5 10 5;
}

.text-delete {
    -fx-font-family: "Lexend";
    -fx-font-size: 12px;
     -fx-fill: #FF2222;
    -fx-font-weight: 500;
}

.text-delete-playlist {
    -fx-font-family: "Lexend";
    -fx-font-size: 16px;
    -fx-fill: #FF2222;
    -fx-font-weight: 800;

}
