.search-bar {
    -fx-background-color: #1B1A1A; /* Set background color */
    -fx-padding: 5px; /* Add padding */
    -fx-border-width: 1px; /* Add border width */
    -fx-border-color: #bfbfbf; /* Set border color */
    -fx-border-radius: 75;
    -fx-pref-width: 300px;
}

/* Style for the TextField inside the SearchBar */
.text-field {
    -fx-background-color: #1B1A1A ;
    -fx-text-fill: #FFFFFF;
}